@(message: String, style: String = "scala")

@defining(play.core.PlayVersion.current) { version =>
<!DOCTYPE html>
    <html lang="en">

        <head>
            <title>@message</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
        </head>

        <body>

            <section id="top">
                <div class="wrapper">
                    <h1>@message</h1>
                </div>
            </section>

            <div id="content" class="wrapper doc">

                <article>

                    <h1>List of Influencers</h1>
                    <table id="influencers">
                        <tr>
                            <th>Name</th>
                            <th>Industry/Position</th>
                        </tr>
                        <tr>
                            <td>Elon Musk</td>
                            <td>Fintech, Solar Energy, Rockets, Solar-powered vehicles</td>
                        </tr>
                        <tr>
                            <td>Arnold Schwarzenegger</td>
                            <td>Bodybuilding, Movies and Entertainment, Real estate, Nutrition, Politics</td>
                        </tr>
                        <tr>
                            <td>Jocko Willink</td>
                            <td>Military, Social Media, Leadership Consultancy</td>
                        </tr>
                        <tr>
                            <td>Joe Rogan</td>
                            <td>Martial Arts and Sports, Social Media</td>
                        </tr>
                        <tr>
                            <td>Patrick Bet-David</td>
                            <td>Social Media, Financial Services, Business Coaching</td>
                        </tr>
                        <tr>
                            <td>Jordan Peterson</td>
                            <td>Clinical Psychotherapy, Education, Social Media</td>
                        </tr>
                        <tr>
                            <td>Yordan Angelov</td>
                            <td>IT Guru, Software Tester Extraordinaire, Chef, Brazilian Jiu Jitsu Fighter, Nutrion specialist, The Most Personal Trainer</td>
                        </tr>
                        <tr>
                            <td>Chocho Berbatov</td>
                            <td>Amateur footballer, Warehouse worker</td>
                        </tr>
                    </table>

                    <form>
                        <h3>Add another influencer:</h3>
                        <p>Name:<br>
                        <input type="text"></p>
                        <p>Industry:<br>
                        <input type="text"></p>
                        <br>
                    </form>
                    <button onclick=" myFunction()">Add</button>

                    <div id="map">My map will go here</div>
                </article>

                @sidebar()

            </div>
        </body>

    </html>
}