@(style: String = "scala")

<aside>
    <h3>Navigation</h3>
    <ul>
        <li><a href="@routes.HomeController.index">Home</a></li>
        <li><a href="@routes.PortfolioController.index">Portfolio</a></li>
        <li><a href="@routes.PortfolioController.signup()">Sign up</a></li>
        <li><a href="@routes.PortfolioController.login()">Login</a></li>
    </ul>

    <h3>Author links</h3>
    <ul>
        <li><a href="https://github.com/awesomus-primus?tab=repositories">Github</a></li>
        <li><a href="https://www.linkedin.com/in/yordan-angelov-75528a103/">LinkedIn</a></li>
        <li><a href="https://yordanangelov.github.io/portfoliosite/">Portfolio Site</a></li>
    </ul>
</aside>
