@(message: String, style: String = "scala")

    @defining(play.core.PlayVersion.current) { version =>

        <section id="top">
            <div class="wrapper">
                <h1>@message</h1>
            </div>
        </section>

        <div id="content" class="wrapper doc">
            <article>

                <h1>Very useful information</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <blockquote>
                    <p>
                        The above is super deep
                    </p>
                </blockquote>

                <h2>Why do you see this page?</h2>

                <p>It's simple. It is because:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h1>What else can you find here?</h1>

                <p>Again, this page contains a... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <details>
                    <summary>Psst...</summary>
                    <p>Check out the links on the side before I smack you.</p>
                </details>

            </article>

            <aside>
                <h3>Navigation</h3>
                <ul>
                    <li><a href="@routes.HomeController.index">Home</a></li>
                    <li><a href="@routes.PortfolioController.index">Portfolio</a></li>
                    <li><a href="@routes.PortfolioController.signup()">Sign up</a></li>
                    <li><a href="@routes.PortfolioController.login()">Login</a></li>
                    <li><a href="@routes.PortfolioController.influencers()">Influencers</a></li>
                </ul>

                <h3>Author links</h3>
                <ul>
                    <li><a href="https://github.com/awesomus-primus?tab=repositories">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/yordan-angelov-75528a103/">LinkedIn</a></li>
                    <li><a href="https://yordanangelov.github.io/portfoliosite/">Portfolio Site</a></li>
                </ul>

                <h3>Contact the author on:</h3>
                <p>Phone number:</p>
                <li>078... You really expect that?</li>
                <p>Email:</p>
                <li>Yeah, that'll be a pass for me dawg</li>
            </aside>

        </div>
    }
